body {
    background-color: darkgray;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-container {
    padding: 0;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    background-color: silver;
}


#main-container
.tasks-name-container {
    width: 20%;
    background-color: red;
    height: 100%;
    float: left;
    overflow: auto;
}

#main-container
.task-all-container {
    position: relative;
    width: 80%;
    background-color: violet;
    height: 100%;
    float: right;

}

#main-container
.preview-type-control {
    width: 100%;
    height: 10%;
    background-color: blue;

}

#main-container
.preview-content {
    width: 100%;
    height: 90%;
    background-color: greenyellow;
}

#main-container
.tasks-control {
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-color: aqua;
    overflow: hidden;
}

#main-container
.tasks-control li{
    /*box-sizing: border-box;*/
    box-shadow: 0 0 10px 1px black inset;
    min-height: 50px;
    text-align: center;
    font-size: 24px;
    padding: 12px 0;
}

#main-container
.tasks-control li.active {
    background-color: cornflowerblue;
}

#main-container
.tasks-control li a{
    text-decoration: none;
}

#main-container
.preview-type {
    box-sizing: border-box;

}